USE [master]
GO
/****** Object:  Database [QuanLySieuThiv2]    Script Date: 11/07/2026 10:34:45 CH ******/
CREATE DATABASE [QuanLySieuThiv2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySieuThiv2', FILENAME = N'E:\SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLySieuThiv2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySieuThiv2_log', FILENAME = N'E:\SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLySieuThiv2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySieuThiv2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySieuThiv2]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/07/2026 10:34:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[DonGiaBan] [int] NOT NULL,
	[ThanhTien] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap_LoHang]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap_LoHang](
	[MaChiTietPN] [int] IDENTITY(1,1) NOT NULL,
	[PhieuNhapID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[GiaNhap] [int] NOT NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
	[SoLuongTonCuaLoNay] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuat]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[MaCTPX] [int] IDENTITY(1,1) NOT NULL,
	[PhieuXuatID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[SoLuongXuat] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[KhachHangID] [int] NULL,
	[ThoiGianTao] [datetime] NULL,
	[TongTienCung] [bigint] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TienKhachDua] [bigint] NULL,
	[TienThua] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiemTichLuy] [int] NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[LoaiSanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiSanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [varchar](20) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[CaLamViec] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[PhieuNhapID] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [varchar](20) NOT NULL,
	[NhaCungCapID] [int] NULL,
	[NhanVienID] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTienThanhToan] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[PhieuXuatID] [int] IDENTITY(1,1) NOT NULL,
	[MaPX] [varchar](20) NOT NULL,
	[NhanVienID] [int] NULL,
	[NgayXuat] [datetime] NOT NULL,
	[LyDo] [nvarchar](255) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuXuatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanPhamID] [int] IDENTITY(1,1) NOT NULL,
	[MaVach] [varchar](50) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[GiaBanHienTai] [int] NOT NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[LoaiSanPhamID] [int] NULL,
	[TonKhoTong] [int] NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamSoHeThong]    Script Date: 11/07/2026 10:34:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSoHeThong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCuaHang] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[HotlineShip] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[VAT] [int] NOT NULL,
	[DiemPer10K] [int] NOT NULL,
	[NguongHetHang] [int] NOT NULL,
	[NguongHetHan] [int] NOT NULL,
	[FooterHoaDon] [nvarchar](max) NULL,
	[NganHang] [nvarchar](100) NOT NULL,
	[SoTaiKhoan] [nvarchar](50) NOT NULL,
	[TenTaiKhoan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [HoaDonID], [SanPhamID], [SoLuongMua], [DonGiaBan], [ThanhTien]) VALUES (1, 1, 3, 2, 25000, 50000)
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [HoaDonID], [SanPhamID], [SoLuongMua], [DonGiaBan], [ThanhTien]) VALUES (2, 2, 5, 2, 25000, 50000)
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [HoaDonID], [SanPhamID], [SoLuongMua], [DonGiaBan], [ThanhTien]) VALUES (3, 3, 7, 2, 25000, 50000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap_LoHang] ON 

INSERT [dbo].[ChiTietPhieuNhap_LoHang] ([MaChiTietPN], [PhieuNhapID], [SanPhamID], [SoLuongNhap], [GiaNhap], [NSX], [HSD], [SoLuongTonCuaLoNay]) VALUES (1, 1, 2, 50, 8000, CAST(N'2026-05-02' AS Date), CAST(N'2026-12-02' AS Date), 50)
INSERT [dbo].[ChiTietPhieuNhap_LoHang] ([MaChiTietPN], [PhieuNhapID], [SanPhamID], [SoLuongNhap], [GiaNhap], [NSX], [HSD], [SoLuongTonCuaLoNay]) VALUES (2, 2, 3, 50, 8000, CAST(N'2026-05-02' AS Date), CAST(N'2026-12-02' AS Date), 50)
INSERT [dbo].[ChiTietPhieuNhap_LoHang] ([MaChiTietPN], [PhieuNhapID], [SanPhamID], [SoLuongNhap], [GiaNhap], [NSX], [HSD], [SoLuongTonCuaLoNay]) VALUES (3, 3, 4, 50, 8000, CAST(N'2026-05-02' AS Date), CAST(N'2026-12-02' AS Date), 50)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap_LoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuXuat] ON 

INSERT [dbo].[ChiTietPhieuXuat] ([MaCTPX], [PhieuXuatID], [SanPhamID], [SoLuongXuat], [GhiChu]) VALUES (1, 1, 9, 5, N'bị gãy')
INSERT [dbo].[ChiTietPhieuXuat] ([MaCTPX], [PhieuXuatID], [SanPhamID], [SoLuongXuat], [GhiChu]) VALUES (2, 2, 9, 2, N'')
INSERT [dbo].[ChiTietPhieuXuat] ([MaCTPX], [PhieuXuatID], [SanPhamID], [SoLuongXuat], [GhiChu]) VALUES (3, 2, 37, 1, N'')
SET IDENTITY_INSERT [dbo].[ChiTietPhieuXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([HoaDonID], [MaHD], [NhanVienID], [KhachHangID], [ThoiGianTao], [TongTienCung], [PhuongThucThanhToan], [TienKhachDua], [TienThua]) VALUES (1, N'HD001', 2, 1, CAST(N'2026-06-02T13:42:09.210' AS DateTime), 50000, N'Tiền mặt', 100000, 50000)
INSERT [dbo].[HoaDon] ([HoaDonID], [MaHD], [NhanVienID], [KhachHangID], [ThoiGianTao], [TongTienCung], [PhuongThucThanhToan], [TienKhachDua], [TienThua]) VALUES (2, N'HD002', 2, 2, CAST(N'2026-06-02T12:42:09.220' AS DateTime), 50000, N'Tiền mặt', 100000, 50000)
INSERT [dbo].[HoaDon] ([HoaDonID], [MaHD], [NhanVienID], [KhachHangID], [ThoiGianTao], [TongTienCung], [PhuongThucThanhToan], [TienKhachDua], [TienThua]) VALUES (3, N'HD003', 2, 3, CAST(N'2026-06-02T11:42:09.220' AS DateTime), 50000, N'Tiền mặt', 100000, 50000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [SDT], [TenKH], [DiemTichLuy], [TrangThai]) VALUES (1, N'0900000001', N'Nguyễn Văn An', 15, 1)
INSERT [dbo].[KhachHang] ([KhachHangID], [SDT], [TenKH], [DiemTichLuy], [TrangThai]) VALUES (2, N'0900000002', N'Trần Thị Bình', 20, 1)
INSERT [dbo].[KhachHang] ([KhachHangID], [SDT], [TenKH], [DiemTichLuy], [TrangThai]) VALUES (3, N'0900000003', N'Lê Văn Cường', 0, 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([LoaiSanPhamID], [TenLoai], [TrangThai]) VALUES (1, N'Bánh kẹo', 1)
INSERT [dbo].[LoaiSanPham] ([LoaiSanPhamID], [TenLoai], [TrangThai]) VALUES (2, N'Nước giải khát', 1)
INSERT [dbo].[LoaiSanPham] ([LoaiSanPhamID], [TenLoai], [TrangThai]) VALUES (3, N'Sữa tươi', 1)
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [MaNCC], [TenNCC], [SoDienThoai], [DiaChi], [TrangThai]) VALUES (1, N'NCC01', N'Công ty Vinamilk', N'0909111111', N'Q.7, TP.HCM', 1)
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [MaNCC], [TenNCC], [SoDienThoai], [DiaChi], [TrangThai]) VALUES (2, N'NCC02', N'Công ty Coca Cola', N'0909222222', N'Q.Thủ Đức, TP.HCM', 0)
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [MaNCC], [TenNCC], [SoDienThoai], [DiaChi], [TrangThai]) VALUES (3, N'NCC03', N'Tập đoàn Masan', N'0909333333', N'Q.1, TP.HCM', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienID], [MaNV], [TenNV], [Username], [Password], [Role], [SoDienThoai], [CaLamViec], [TrangThai]) VALUES (1, N'NV01', N'Quản lý Thăng', N'quanly', N'$2a$11$ztMiD8K3nJD6QJKLbR8Unej842lNDOizLzk5ZsHCldlH7.eq1tr6C', 1, N'0988000001', N'Fulltime', 1)
INSERT [dbo].[NhanVien] ([NhanVienID], [MaNV], [TenNV], [Username], [Password], [Role], [SoDienThoai], [CaLamViec], [TrangThai]) VALUES (2, N'NV02', N'Thu Ngân Phúc', N'thungan1', N'$2a$11$gX4lTt9YfX.A3.ds6LCQtuDncGoLvX3U5wvSB1oAnPCcwEDNcrYUO', 2, N'0988000002', N'Sáng', 1)
INSERT [dbo].[NhanVien] ([NhanVienID], [MaNV], [TenNV], [Username], [Password], [Role], [SoDienThoai], [CaLamViec], [TrangThai]) VALUES (3, N'NV03', N'Thu Ngân Lan', N'thungan2', N'123456', 2, N'0988000003', N'Chiều', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([PhieuNhapID], [MaPN], [NhaCungCapID], [NhanVienID], [NgayLap], [TongTienThanhToan]) VALUES (1, N'PN001', 1, 1, CAST(N'2026-06-01T14:42:09.043' AS DateTime), 1000000)
INSERT [dbo].[PhieuNhap] ([PhieuNhapID], [MaPN], [NhaCungCapID], [NhanVienID], [NgayLap], [TongTienThanhToan]) VALUES (2, N'PN002', 2, 1, CAST(N'2026-05-31T14:42:09.043' AS DateTime), 1000000)
INSERT [dbo].[PhieuNhap] ([PhieuNhapID], [MaPN], [NhaCungCapID], [NhanVienID], [NgayLap], [TongTienThanhToan]) VALUES (3, N'PN003', 3, 1, CAST(N'2026-05-30T14:42:09.043' AS DateTime), 1000000)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuXuat] ON 

INSERT [dbo].[PhieuXuat] ([PhieuXuatID], [MaPX], [NhanVienID], [NgayXuat], [LyDo], [GhiChu]) VALUES (1, N'PX202606120001', NULL, CAST(N'2026-06-12T11:31:15.577' AS DateTime), N'Hàng hỏng', N'')
INSERT [dbo].[PhieuXuat] ([PhieuXuatID], [MaPX], [NhanVienID], [NgayXuat], [LyDo], [GhiChu]) VALUES (2, N'PX202606120002', NULL, CAST(N'2026-06-12T11:32:05.630' AS DateTime), N'Hàng hỏng', N'')
INSERT [dbo].[PhieuXuat] ([PhieuXuatID], [MaPX], [NhanVienID], [NgayXuat], [LyDo], [GhiChu]) VALUES (3, N'PX202607070003', 1, CAST(N'2026-07-07T23:16:41.320' AS DateTime), N'Mất mát / Thất lạc', N'')
SET IDENTITY_INSERT [dbo].[PhieuXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([SanPhamID], [MaVach], [TenSP], [GiaBanHienTai], [HinhAnh], [LoaiSanPhamID], [TonKhoTong], [TrangThai]) VALUES (1, N'6926104937186', N'Nước tăng lực Redbull (Bò húc) 250ml', 12000, N'20260707141627_red.png', 2, 182, 1)
INSERT [dbo].[SanPham] ([SanPhamID], [MaVach], [TenSP], [GiaBanHienTai], [HinhAnh], [LoaiSanPhamID], [TonKhoTong], [TrangThai]) VALUES (2, N'893456002', N'Nước ngọt Coca Cola 320ml', 10000, N'20260707140307_coca.png', 2, 145, 1)
INSERT [dbo].[SanPham] ([SanPhamID], [MaVach], [TenSP], [GiaBanHienTai], [HinhAnh], [LoaiSanPhamID], [TonKhoTong], [TrangThai]) VALUES (3, N'893456003', N'Nước ngọt Pepsi 320ml', 10000, N'20260707140352_pep.png', 2, 147, 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThamSoHeThong] ON 

SET IDENTITY_INSERT [dbo].[ThamSoHeThong] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__2725A6E10546BBB8]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__CA1930A5045F7798]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__3A185DEA5302399F]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__2725D70B41241405]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__536C85E4D88D7B3A]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuNha__2725E7F163203D7A]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[PhieuNhap] ADD UNIQUE NONCLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuXua__2725E7CBE8BC29E6]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[PhieuXuat] ADD UNIQUE NONCLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__8BBF4A1C38AE1E89]    Script Date: 11/07/2026 10:34:46 CH ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ThoiGianTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LoaiSanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTienThanhToan]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [TonKhoTong]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT (N'Siêu Thị') FOR [TenCuaHang]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT ((8)) FOR [VAT]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT ((1)) FOR [DiemPer10K]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT ((10)) FOR [NguongHetHang]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT ((30)) FOR [NguongHetHan]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT (N'') FOR [NganHang]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT (N'') FOR [SoTaiKhoan]
GO
ALTER TABLE [dbo].[ThamSoHeThong] ADD  DEFAULT (N'') FOR [TenTaiKhoan]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap_LoHang]  WITH CHECK ADD FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[PhieuNhap] ([PhieuNhapID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap_LoHang]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD FOREIGN KEY([PhieuXuatID])
REFERENCES [dbo].[PhieuXuat] ([PhieuXuatID])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([LoaiSanPhamID])
REFERENCES [dbo].[LoaiSanPham] ([LoaiSanPhamID])
GO
USE [master]
GO
